header {
    @include flexCenter(row,space-around,center); 
    
    }
    nav{
            ul{
            
            display: flex;
            flex-direction: row;
            gap:20px;
            padding: 10px;

               a{
                color: rgb(0, 0, 0);
                padding: 10px;
                font-size: 13px;
                &:hover{
                color: rgb(88, 191, 250);
                   
                 }
             }
         }
    }
    .nav-logo {
        width: 20px;
    }