header {
    @include flexCenter(row,space-around,center);
    background-color: rgb(255, 255, 255);
    .nav-logo {
        width: 20px;
        
    }
    nav{
            ul{
            
            display: flex;
            flex-direction: row;
            
            padding: 10px;
            a{
                color: rgb(0, 0, 0);
                justify-content: center;
                padding: 10px;
                font-size: 13px;
                &:hover{
                color: rgb(88, 191, 250);
                   
                }
            }
        }
    }
}